<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>

	  <!--
	  - Note many of these tests involve resetting the device to factory default settings,
	    therefore the IP will be reset also, so do not use a static IP
	  - Whether the inputs float high or low is determined by a jumper on the device, these tests assume the jumper is
	    in the factory default position, so that the inputs float HIGH (1)
	  -->

	  <!-- Invalid devices -->
	  <add key="invalidIPAddress" value="192.168.2.233"/>
	  <add key="invalidComPort" value="COM67"/>

	  <!-- 
	  - Replace the IP address with a real DUT e.g. 192.168.127.254
	  - empty values are ignored
	  - multiple of the same device can be added simply 
	  - adding a number to the end of the key e.g. BB400IPAddress1, BB400IPAddress2, etc.
	  -->

	  <!-- Begin ED devices by IP -->
	  <add key="BB400IPAddress" value=""/>
	  <add key="BB400IPAddress1" value=""/>
	  <add key="ED004IPAddress" value=""/>
	  <add key="ED008IPAddress" value=""/>
	  <add key="ED038IPAddress" value=""/>
	  <add key="ED204IPAddress" value=""/>
	  <add key="ED516IPAddress" value=""/>
	  <add key="ED527IPAddress" value=""/>
	  <add key="ED538IPAddress" value=""/>
	  <add key="ED549IPAddress" value=""/>
	  <add key="ED560IPAddress" value=""/>
	  <add key="ED582IPAddress" value=""/>
	  <add key="ED588IPAddress" value=""/>
	  <add key="ED593IPAddress" value=""/>
	  
	  <!-- Begin ED devices by COM port -->
	  <!-- Replace the COM port with a real COM port from Boost.IO -->
	  <add key="BB400ComPort" value="" />
	  <add key="ED004ComPort" value="" />
	  <add key="ED008ComPort" value="" />
	  <add key="ED038ComPort" value="" />
	  <add key="ED204ComPort" value="" />
	  <add key="ED516ComPort" value="" />
	  <add key="ED527ComPort" value="" />
	  <add key="ED538ComPort" value="" />
	  <add key="ED549ComPort" value="" />
	  <add key="ED560ComPort" value="" />
	  <add key="ED582ComPort" value="" />
	  <add key="ED588ComPort" value="" />
	  <add key="ED593ComPort" value="" />

	  <!-- Begin ES devices by IP -->
	  <!-- Replace the IP address with a real DUT -->
	  <add key="ES020IPAddress" value=""/>
	  <add key="ES246IPAddress" value=""/>
	  <add key="ES257IPAddress" value=""/>
	  <add key="ES279IPAddress" value=""/>
	  <add key="ES313IPAddress" value=""/>
	  <add key="ES320IPAddress" value=""/>
	  <add key="ES346IPAddress" value=""/>
	  <add key="ES357IPAddress" value=""/>
	  <add key="ES413IPAddress" value=""/>
	  <add key="ES420IPAddress" value=""/>
	  <add key="ES446IPAddress" value=""/>
	  <add key="ES457IPAddress" value=""/>
	  <add key="ES511IPAddress" value=""/>
	  <add key="ES522IPAddress" value=""/>
	  <add key="ES551IPAddress" value=""/>
	  <add key="ES571IPAddress" value=""/>
	  <add key="ES701IPAddress" value=""/>
	  <add key="ES842IPAddress" value=""/>

	  <!-- Begin ES devices by COM port -->
	  <!-- Replace the COM port with a real COM port from Boost.LAN -->
	  <add key="ES020ComPort" value=""/>
	  <add key="ES246ComPort" value=""/>
	  <add key="ES257ComPort" value=""/>
	  <add key="ES279ComPort" value=""/>
	  <add key="ES313ComPort" value=""/>
	  <add key="ES320ComPort" value=""/>
	  <add key="ES346ComPort" value=""/>
	  <add key="ES357ComPort" value=""/>
	  <add key="ES413ComPort" value=""/>
	  <add key="ES420ComPort" value=""/>
	  <add key="ES446ComPort" value=""/>
	  <add key="ES457ComPort" value=""/>
	  <add key="ES511ComPort" value=""/>
	  <add key="ES522ComPort" value=""/>
	  <add key="ES551ComPort" value=""/>
	  <add key="ES571ComPort" value=""/>
	  <add key="ES701ComPort" value=""/>
	  <add key="ES842ComPort" value=""/>

	  <!-- Begin misc devices values -->
	  <add key="USERNAMEKEY" value="%USERNAME%"/>
	  <add key="eDAM8050ComPort" value="" />
  </appSettings>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
